<form
	class="createpost center-box"
	action="/createpost"
	method="POST"
	enctype="application/x-www-urlencoded"
>
	<h2>Create a new Post</h2>
	<input type="text" name="title" placeholder="Post Title" required />
	<input type="url" name="link" placeholder="Link to Post" required />
	<input class="button" type="submit" value="Submit" />
</form>
