<form
	class="login center-box"
	action="/login"
	method="POST"
	enctype="application/x-www-form-urlencoded"
>
	<h2>Login</h2>
	<input type="text" name="username" placeholder="Username" required />
	<input type="password" name="password" placeholder="Password" required />
	<input class="button" type="submit" value="Login" />
</form>
