<form
	class="register center-box"
	action="/register"
	method="POST"
	enctype="application/x-www-form-urlencoded"
>
	<h2>Register</h2>
	<input type="text" name="username" placeholder="Username" required />
	<input type="password" name="password" placeholder="Password" required />
	<input type="password" name="repassword" placeholder="Confirm Password" required />
	<input class="button" type="submit" value="Register" />
</form>
