<form action="/comment" method="POST" enctype="x/www-url-encouded">
	<textarea name="text" rows="4" cols="60" required></textarea>
	<input type="hidden" name="post_id" value="{{ post_id }}" required />
	{% if comment_id.is_some() -%}
	<input type="hidden" name="parent_comment_id" value="{{ comment_id.as_ref().unwrap() }}"/>
	{% endif -%}
	<input type="submit" value="add comment" />
</form>
