.post {
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	grid-template-rows: 180px 8px auto auto 8px;
	grid-gap: 8px;
	grid-template-areas: 
		"image image  image    image"
		". . . ."
		". title  title  title"
		". author comments ."
		". . . .";
	box-shadow: 0px 3px 5px 0px #00000040;
	margin-bottom: 8px;
}



@media (max-width: 600px) {
	.post {
		margin-bottom: unset;
		border-bottom: 2px solid #ccc;
		box-shadow: unset;
	}
}

.post .post-image {
	object-fit: cover;
	grid-area: image;
	height: 100%;
	width: 100%;
}

.post > .post-title {
	grid-area: title;
	font-weight: bold;
	text-decoration: unset;
	max-height: 3.5em;
	overflow: hidden;
	margin-right: 16px;
}

.post > .post-title:hover {
	overflow: auto;
}

.post > .post-title:visited {
	color: lightblue;
}


.post .post-title a {
	font-weight: bold;
}

.post a {
	text-decoration: unset;
	color: black;
}

.post a:visited {
	color: black;
}

.post .post-comments a {
	color: inherit;
}

.post > .post-author-line {
	grid-area: author;
	align-self: end;
}

.post > .post-author {
	text-decoration: unset;
}

.post > .post-comments {
	grid-area: comments;
	align-self: end;
}


.post > .post-dekor {
	grid-area: dekor;
	background: blue;
	width: 1.5em;
}

.navigation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.navigation .next {
	grid-column: 2;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation > * {
	box-shadow: 0px 3px 5px 0px #00000040;
	height: 3em;
}

.navigation a {
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.navigation .previous {
	grid-column: 1;
}
