.post.right {
	display: grid;
	grid-template-columns: 0px auto auto 1fr;
	grid-template-rows: 0px minmax(min-content, 3.5em) 1em 0px;
	grid-template-areas:
		". .      .        .    "
		". title  title    title"
		". author comments .    "
		". .      .        .    ";
}

.post.right.image {
	grid-template-columns: 0px auto auto 1fr 150px;
	grid-template-areas:
		". .      .        .     image"
		". title  title    title image"
		". author comments .     image"
		". .      .        .     image";

}

.post.right .post-image {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
}
