
@media (min-width: 616px) {
	body {
		padding: 8px;
	}
}
body {
	font-family: "helvetica neue", arial, sans-serif;
	max-width: 1800px;
	margin: auto;
}

.posts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
	grid-gap: 20px;
}

@media (max-width: 600px) {
	.posts {
		display: initial;
		grid-template-columns: 1fr;
	}
}


header {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	grid-template-columns: 1fr auto auto auto;
	max-width: 1200px;
	align-items: center;
	margin: auto;
}

header .push-right {
	margin-right: auto;
}

.escape-hatch {
	font-weight: bold;
	color: black;
	text-decoration: unset;
}


form.logout {
	margin: unset;
}

form.center-box input {
	font-weight: bold;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	font-size: 16px;
	padding-bottom: 4px;
}

form.center-box {
	padding: 3em;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 11px 11px 20px #d0d0d0;
}

form.login {
	display: grid;
	grid-gap: 1.5em;
	grid-template-rows: auto;
}


.button {
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-size: 16px;
	padding: 1em;
	background-color: unset;
	border: none;
	outline: none;
	text-align: center;
	text-decoration: unset;
}

.button:focus {
	transform: translate(1px,1px);
}

form.center-box > input[type="submit"] {
	justify-self: right;
	padding: 1em;
}

form.center-box > input[type="submit"]:focus {
	background-color: turquoise;
}

form.center-box input:invalid ~ input[type="submit"] {
	background-color: lightgray;
}

form.center-box input:invalid ~ input[type="submit"]:focus {
	background-color: red;
}

form.register {
	display: grid;
	grid-gap: 1.5em;
	grid-template-columns: auto;
}

form.createpost {
	display: grid;
	grid-gap: 1.5em;
	grid-template-columns: auto;
	max-width: 500px;
}

.comment {
	border-bottom: 1px solid;
	padding: 1em;
	margin-bottom: 8px;
}

.replies {
	border-left: 2px solid;
	padding-left: 1em;
	margin-bottom: 1em;
}
