<div class="comments">
	{%- for nest in comments %}
		{% if nest.is_in() -%}
			<section class="replies">
		{% elseif nest.is_out() -%}
			</section>
		{% elseif nest.is_node() -%}
			<div class="comment">
				<span>{{ nest.comment_id }}</span>
				<span>{{ nest.text }}</span>
				<a href="/comment/{{post.post_id}}/{{nest.comment_id}}">reply</a>
			</div>
		{% endif -%}
	{%- endfor %}
</div>
