<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles.css" />
	<link rel="stylesheet" type="text/css" href="/posts.css" />
	<link rel="stylesheet" type="text/css" href="/posts-right.css" />
</head>
<body>
	<header>
		{{ header.render().unwrap() }}
	</header>
	<main>
		{{ main.render().unwrap() }}
	</main>
	<footer>
		{{ footer.render().unwrap() }}
	</footer>
</body>
</html>
