<span class="push-right"><a class="escape-hatch" href="/"><span>Bonsaibeef</span></a></span>

{% if userauth.is_some() %}
<span>Hi, {{ userauth.as_ref().unwrap().username }}</span>
<form class="logout" method="POST" action="/logout">
	<button class="button logout" type="submit">
		<i class="material-icons">logout</i>
	</button>
</form>
<a class="button create" href="/createpost"><i class="material-icons">post_add</i></a>
{% else %}
<a class="button login" href="/login"><i class="material-icons">login</i></a>
<a class="button register" href="/register"><i class="material-icons">how_to_reg</i></a>
{% endif %}
