<section>
	<a href="{{ post.link }}">{{ post.title }}</a>
	<form action="/comment" method="POST" enctype="x/www-url-encoded">
		<textarea name="text" rows="4" cols="60" required></textarea>
		<input type="hidden" name="post_id" value="{{ post.post_id }}" required />
		<input type="hidden" name="parent_comment_id" />
		<input type="submit" value="add comment" />
	</form>
	{% include "comments.html" %}
</section>
