	{% if post.image.is_some() %}
<article class="post right image">
		<img class="post-image" src="{{post.image.as_ref().unwrap()}}" />
	{% else %}
<article class="post right">
	<!--
	<img class="post-image" src="https://placekitten.com/400/300" />
	-->
	{% endif %}
	<span class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></span>
	<div class="post-author-line">
			via <span class="post-author">{{ post.username }}</span>
	</div>
	<div class="post-comments"><a href="/post/{{post.post_id}}">comments</a></div>
</article>

