<div class="posts">
{%- for post in posts %}
	{% include "post.html" %}
{%- endfor %}
</div>
<div class="navigation">
	{% if page > 0 %}
	<div class="previous">
	<a class="flex-center" href="/?page={{page-1}}">Previous</a>
	</div>
	{% endif %}
	{% if posts.len() > 0 %}
	<div class="next">
		  <a class="flex-center" href="/?page={{page+1}}">More</a>
	</div>
	{% endif %}
</div>
